@using DealerBlog.Web.Web
@model DealerBlog.Entity.Post

<table class="table">
     
    <tr>
        <td style="width: 50%">
           @Html.ActionLink(Model.Title,"Details",new {Id=Model.Id})
        </td>
        <td style="width: 20%">
            @Html.DisplayFor(model => model.PostedOn)
        </td>
  
        <td >
           @Html.CategoryLink(Model.BlogCategory)
        </td>
        <td>
           @Helpers.Tags(Html,Model.Tags)
        </td>
       
    </tr>
 

</table>
