<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Local.Reader" connectionString="Data Source=.\sqlexpress;Initial Catalog=DealerBlog;uid=sa;pwd=654321;" providerName="System.Data.SqlClient" />
    <add name="Local.Writer" connectionString="Data Source=.\sqlexpress;Initial Catalog=DealerBlog;uid=sa;pwd=654321;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>