<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Auto.CSH.Framework" version="1.0.0" targetFramework="net45" />
  <package id="Auto.CSH.Framework.Data" version="1.0.4" targetFramework="net45" />
  <package id="Auto.Lib3.DataAccess" version="13.8.30.1300" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>